# Default ignored files
/shelf/
/workspace.xml
/tmp
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
# Ignore uploaded files in development
/storage/*
/.idea/*
/log

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
tmp/
